.App {
  text-align: center;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
}
.App> h1, h1 > a {
  color: lightgray;
}
.App > div svg {
    padding: 10px;
}
/* control buttons styles */
.iconOn {
    color: black;
}
.iconOff {
    color:darkgray;
}

.App > div > h1{
    text-align: right;
    font-size: small;
    float: right;
    color: lightgray;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.layout {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}
.Editor {
  text-align: left;
  white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}
.layout__panel {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
  overflow: hidden;
}

.flex--row {
  flex-direction: row;
}
.flex {
  display: flex;
}

.CodeMirror {
  height: auto;
  font-family: inherit;
}
.CodeMirror-scroll{
  scroll-behavior: smooth;
}
.title {
  margin:0em;
}
.left {
border-right: 1px dotted lightgrey;
white-space: pre-wrap;
word-break: break-word;
word-wrap: break-word;
width: 50%;
font-size: 15px;
text-align: left;
float: left;
height: 100%;
}

.editor,.CodeMirror {
  height: 100%;
}
.right {
  text-align: left;
  word-break: break-word;
  word-wrap: break-word;
  margin : 0 0.5em;
  height: 100%;
  font-size: 15px;
  padding-left: 20px;
  overflow-y: scroll;
  position: relative;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#zdgraph-div {
    display: none;
}
.layoutPreview .Editorright {
    z-index: -999999;
}