.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.layout {
  position: absolute;
  width: 100%;
  height: 100%;
}
.Editor {
  text-align: left;
  white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}
.layout__panel {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
  overflow: hidden;
}

.flex--row {
  flex-direction: row;
}
.flex {
  display: flex;
}

.CodeMirror {
  height: auto;
}
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.title {
  margin:0em;
}
.left {
border-right: 1px dotted lightgrey;
white-space: pre-wrap;
word-break: break-word;
word-wrap: break-word;
width: 50%;
font-size: 17px;
overflow: scroll;
text-align: left;
}

.right {
  text-align: left;
    word-break: break-word;
    word-wrap: break-word;
    margin : 0 1em;
  width: 47%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
