body {
  margin: 0;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


pre {
  padding: 9.5px;
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  background-color:  #f8f8f8;
  /* border: 1px solid  #ccc; */
  border-radius:  4px;
}

code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

table {
  word-break: normal;
  min-width: 70%;
  max-width: 100%;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  margin-top: 2em;
}
table caption {
  margin-bottom: 0.8em;
}

table tbody tr:hover {
  background-color:  #eee;
  -webkit-transition: .5s;
  transition: .5s
}

tr th {
  vertical-align: bottom;
  border-bottom: 2px solid #eee;
}

td {
  padding: 8px;
  border: 1px solid #eee;
  background: #eee;
  padding: 8px;
}

.footnote a {
  text-decoration: none;
}
.footnotes {
border-top-style: solid;
border-top-width: 1px;
border-top-color: #eee;
}
